<!doctype html>
<title>Steam Redirector</title>
<style>
  body { text-align: center; padding: 150px; padding-top: 50px;}
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Steam Redirector</h1>
    <div>
        <p>A quick tool I wrote using Python and Flask that allows you to create a quick landing page that will point users toward the Steam webpage or directly launch the Steam Application.</p>
        <p>This allows you to send potential users to their actual Steam application, where they're logged in. This is advantageous, as many users aren't logged into Steam on the webpage, but they are in the application. This will reduce the friction, and hopefully increase overall conversion.</p>
        <h2>Using this tool</h2>
        <p>This tool uses URLs as input parameters. There are three possible input parameters that you can input into the URL.</p>
        <ol>
        <li>The unique Steam key ID identifier. For example, the unique steam key ID for the game located at "http://store.steampowered.com/app/367080" is 367080</li>
        <li>The name of your game. For example, Songbringer.</li>
        <li>An optional key ID for a background image that is hosted on imgur. For example, for the image URL "http://imgur.com/tGWGLL0", the unique id would be tGWGLL0</li>
        <p>The finished built URL will look like: <a href="http://steamapps.herokuapp.com/SongBringer/367080/tGWGLL0"> this </a>.
        </p>
        <img src="http://i.imgur.com/6gyDuCUg.png" alt="alt text" title="readme" style="max-width:100%;">
    </div>
</article>